.icons {
  display: flex;
  list-style: none;
  padding: 0px;
  margin: 10px 0px;

  li {
    margin: 0 2rem 0 0;

    a {
      height: 100%;

      svg {
        fill: #a1a1a1;
        width: 32px;
        height: 32px;
      }

      &:hover svg {
        fill: #512da8;
      }
    } 
  }
}