.project {
  border-bottom: thin solid var(--gray-light);
  padding-bottom: 3rem;
  margin-bottom: 4rem;

  &:last-of-type {
    border: none;
  }

  .title {
    font-size: 1.75rem;
  }

  .description {
    font-size: 1.5rem;
    padding-left: 1rem;
    margin-bottom: 1.5rem;
  }

  .block {
    margin-bottom: 1.5rem;
  }

  .name {
    color: var(--gray);
  }

  ul.tasks {
    margin: 0;
    padding-left: 1rem;
  }

  .links {
    padding-left: 1rem;

    a {
      font-size: 1.5rem;
      margin-right: 1rem;
      display: inline-block;
      position: relative;
      text-decoration: none;

      &:after {
        content: "";
        position: absolute;
        z-index: -1;
        inset: 60% -0.1em 0px;
        transition: top 200ms cubic-bezier(0, 0.8, 0.13, 1) 0s;
        background-color: var(--primary-light);
      }

      &:hover:after {
        top: 0%;
      }
    }
  }
}

.links {
  padding-left: 1rem;

  a {
    font-size: 1.5rem;
    margin-right: 1rem;
    display: inline-block;
    position: relative;
    text-decoration: none;

    &:after {
      content: "";
      position: absolute;
      z-index: -1;
      inset: 60% -0.1em 0px;
      transition: top 200ms cubic-bezier(0, 0.8, 0.13, 1) 0s;
      background-color: var(--primary-light);
    }

    &:hover:after {
      top: 0%;
    }
  }
}

.websites {
  border-bottom: thin solid var(--gray-light);
  padding-bottom: 4rem;
  margin-bottom: 4rem;
}
