.active {
  position: relative;
  display: inline-block;

  &:after {
    content: "";
    position: absolute;
    bottom: 1rem;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: var(--primary-light);
  }
}
