footer {
  background: var(--accentlight);
  font-size: 0.8rem;
  color: var(--grey);
  margin-top: -4px;
  text-align: center;

  a {
    color: var(--grey);
  }
}

.icons {
  a {
    font-size: 1.5rem;
    color: var(--greylight);
    transition: 0.25s;

    &:hover {
      color: var(--accent);
    }
  }
}
