footer {
  padding: 30px;
  background: var(--accentlight);
  font-size: 0.8rem;
  color: var(--grey);

  a {
    color: var(--grey);
  }
}

.icons {
  display: flex;
  justify-items: space-around;
  align-items: flex-end;

  a {
    display: inline-block;
    margin: 0 10px;
    font-size: 1.5rem;
    color: var(--greylight);
    transition: 0.25s;

    &:hover {
      color: var(--accent);
    }
  }
}
